.header {
    @include clearfix;
    @include absoluteCenter;

    width: 90rem;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: -27rem;
    background-color: $dark-gray-bg-color;
    color:$white-color;
    padding: 1em 2rem;
    font-size: 1.8rem;
    font-family: 'Press Start 2P',cursive;
    
    &>div {
        display: inline-block;
    }
    &__score {
        float: left;
        
        &-part {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 2rem; 
            }
        }

        span {
            display: inline-block;
            margin-left: .5rem;
            line-height: 2.3rem;
            font-weight: 700;
        }
        
        &-icon {
            height: 2.5rem;
        }
    }

    &__title {        
        text-align: center;
        letter-spacing: .2rem;
    }

    &__lives {
        float: right; 
        text-align: right;       
        .heart {
            height: 2rem;
            width: 2.5rem;
            background-image: url(../img/life.png);
            background-size: 100% 100%;
            display: inline-block;
            &:not(:last-child) {
                margin-right: .5rem;
            }
            &.active {
                background-image: url(../img/life-active.png);
            }
        }
    }
}

.heading-primary {
    color: $white-color;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    font-family: 'Press Start 2P',cursive;
    &--main {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 2rem;
    }
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.25rem;
    }
}