// FONT
$default-font-family: 'Lato', sans-serif;
$header-font-family: 'Press Start 2P', cursive;

$default-font-size: 1.6rem;

// COLOURS
$default-font-color: #4e4e4e;

$primary-color: #45c6eb;

$secondary-color: #f1425d;

$black-color: #000000;

$white-color: #ffffff;

$green-color: #55c57a;

$dark-gray-bg-color: #333333;
$dark-gray-color: #777777;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;